<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>API_KEY</key>
  <string>YOUR_IOS_API_KEY</string>
  <key>CLIENT_ID</key>
  <string>YOUR_IOS_CLIENT_ID</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>YOUR_REVERSED_CLIENT_ID</string>
  <key>BUNDLE_ID</key>
  <string>com.emergsos</string>
  <key>PROJECT_ID</key>
  <string>YOUR_PROJECT_ID</string>
  <key>STORAGE_BUCKET</key>
  <string>YOUR_PROJECT_ID.appspot.com</string>
  <key>GCM_SENDER_ID</key>
  <string>YOUR_SENDER_ID</string>
  <key>GOOGLE_APP_ID</key>
  <string>1:YOUR_PROJECT_NUMBER:ios:YOUR_IOS_APP_ID</string>
  <key>DATABASE_URL</key>
  <string>https://YOUR_PROJECT_ID.firebaseio.com</string>
  <key>DEEP_LINK_SCHEME</key>
  <string>com.emergsos</string>
</dict>
</plist>
